@import "./basic.scss";
@import "_grid.scss";
@import "./owl.carousel.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

$dark: #0e0e0e;
$rad: #c13001;
$grey: #f0f0f0;

.bg-transparent	{
  background-color: transparent;
}

.border-t-1 {
  border-top-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

.footer_input_border {
  border-color: #969696;
}

.font_ubuntu {
  font-family: "Ubuntu";
}

.color_b2 {
  color: #b2b2b2;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &.no_scroll {
    overflow: hidden;
  }
}

nav {
  height: 75px;
}

.img_wrap {
  flex: none;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

header {
  background-color: $dark;
  height: 75px;
  z-index: 51;
}

main {
  flex: 1 1 auto;
  min-height: auto;
}

footer {
  background-color: $dark;
}

.hover_class {
  overflow: hidden;

  &>* {
    z-index: 2;
  }

  &::before {
    background-color: $rad;
    content: "";
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 120%;
    transform: translateY(150%);
    transition: transform 360ms;
  }

  p {
    transition: color 360ms;
  }

  .arrow_btn {
    span {
      transform: translate(0) translateY(-100%);
      background-color: #fff;
      transition: transform 360ms;
    }
  }

  &:hover {
    color: #fff !important;

    p, h3 {
      transition: color 360ms;
      color: #fff !important;
    }

    &::before {
      transform: translateY(0);
      transition: transform 360ms;
    }

    .arrow_btn {
      border: 1px solid white;
      
      span {
        transition: transform 360ms;
        transform: translate(0) translateY(0);
      }

      &::before {
        opacity: 0 !important;
      }

      &::after {
        opacity: 1 !important;
      }
    }
  }
}

.btn {
  display: inline-flex;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  width: fit-content;
  height: 54px;
  line-height: 54px;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 180ms, color 180ms;
  overflow: hidden;
  cursor: pointer;

  span {
    cursor: pointer;
  }

  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 180ms;
  }

  &:hover {
    &::before {
      transform: translateY(0);
      transition: transform 180ms;
    }

    &.send.footer_btn {
      border: 1px solid $rad;
    }
  }

  &.w-full {
    @media all and (max-width: 767px) {
      width: 100%;
    }
  }

  @media all and (max-width: 767px) {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }

  &.orange {
    background-color: $rad;
    border:1px solid $rad;
    color: #fff;

    &:hover {
      border:1px solid $dark;
    }

    &::before {
      background-color: $dark;
    }
  }

  &.black {
    background-color: $dark;
    border: 1px solid $dark;
    color: #fff;

    &:hover {
      border:1px solid $rad;
    }

    &::before {
      background-color: $rad;
    }
  }

  &.white {
    background-color: transparent;
    color: $dark;
    border: 1px solid $dark;

    &:hover {
      color: #fff;
      border:1px solid $rad;
      transition: color 180ms;
    }

    &::before {
      background-color: $rad;
    }
  }

  &.small {
    padding: 0 34px;
    height: 43px;
    line-height: 43px;
    font-size: 16px;
    font-weight: 500;
  }

  &.send {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    width: fit-content;
  }
}

.arrow_btn {
  line-height: 0;
  display: inline-flex;
  flex: none;
  width: 38px;
  height: 35px;
  border: 1px solid #707070;
  overflow: hidden;

  &:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 10px;
    height: 20px;
    opacity: 1;
    transition: opacity 360ms;
    background: transparent url('../img/icon_arrow_right.svg') no-repeat center / 10px auto;
  }

  &::before {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 10px;
    height: 20px;
    opacity: 0;
    transition: opacity 360ms;
    background: transparent url('../img/small_arrow_white.svg') no-repeat center / 8px auto;
  }

  span {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $rad;
    transform: translate(-100%);
    transition: transform 360ms;
  }

  &:hover {
    border: 1px solid $rad;

    &:after {
      opacity: 0;
      transition: opacity 360ms;
    }

    &::before {
      opacity: 1;
      transition: opacity 360ms;
    }
    
    span {
      transition: transform 360ms;
      transform: translate(0);
    }
  }
}

.border-1 {
  border-width: 1px;
}

h1,h2,h3,h4,h5,h5,h6 {
  color: $dark;
  font-family: "Ubuntu";
  font-weight: 700;
}

h1 {
  font-size: 64px;

  @media all and (max-width: 767px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 48px;

  @media all and (max-width: 767px) {
    font-size: 32px;
  }
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 27px;
}

h6 {
  font-size: 24px;
}

.products {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 1.15px;

  img {
    transform: rotate(0);
    transition: transform 180ms;
  }

  &.active {
    img:last-child {
      transform: rotate(180deg);
      transition: transform 180ms;
    }
  }
}

.footer_year {
  right: 285px;
  top: -64px;

  @media all and (max-width: 1700px) {
    right: 100px;
  }

  @media all and (max-width: 1400px) {
    right: 50px;
  }
}

.divider {
  border-bottom: 1px solid #292929;
}

.min_h {
  min-height: calc(100vh - 75px);
}

.main_top {
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.96) 46%, rgba(255, 255, 255, 0) 100%);
  }
}

.game_card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16);
}

.products_section {
  @media all and (max-width: 1550px) {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
  }

  @media all and (max-width: 1370px) {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
  }

  @media all and (max-width: 767px) {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  
}

.breadcrumbs_divider {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #000;
  opacity: 0.3;
}

.article_select {
  &.active {
    background-color: #fff;
  }

  &.active, &:hover {
    &::before {
      content: "";
      position: absolute;
      right: -12px;
      top: 24px;
      border-left: 12px solid #fff;
      border-top: 8px transparent solid;
      border-bottom: 8px transparent solid;
    }
  }
}

.text-section {
  h1, h2, h3, h4, h5, h6 {
    color: $dark;
    font-family: "Ubuntu";
    margin-bottom: 24px;
    text-transform: uppercase;

    @media all and (max-width: 767px) {
      font-size: 22px;
    }
  }

  h1 {
    font-size: 36px;

    @media all and (max-width: 767px) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 28px;

    @media all and (max-width: 767px) {
      font-size: 22px;
    }
  }

  p, li {
    color: #121111;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;

    @media all and (max-width: 767px) {
      font-size: 14px;
    }
  }

  ul {
    padding-left: 24px;
    margin-bottom: 16px;

    li {
      font-size: 20px;

      @media all and (max-width: 767px) {
        font-size: 14px;
      }

      p {
        margin-bottom: 8px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        left: -20px;
        top: 10px;
        background: url('../img/rotated_red_square.svg') no-repeat center / contain;
      }
    }
  }
}

.game_item {
  .arrow {
    border-right: 2px solid #737373;
    border-top: 2px solid #737373;
    transform: rotate(0);
    transition: border-right 180ms, border-top 180ms, transform 180ms;

    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: -2px;
      width: 15px;
      transform: rotate(-45deg);
      border-top: 2px solid #737373;
    }

    p {
      transition: color 180ms;
    }
  }

  &:hover, &.active {
    p {
      color: $rad;
      transition: color 180ms;
    }

    .arrow {
      transform: rotate(45deg);
      border-right: 2px solid $rad;
      border-top: 2px solid $rad;
      transition: border-right 180ms, border-top 180ms, transform 180ms;

      &:after {
        transition: border-top 180ms;
        border-top: 2px solid $rad;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 36px;
    right: 36px;
    height: 2px;
    background-color: rgba(14, 14, 14, 0.05);
  }
}

.lucky_six {
  background-image: linear-gradient(115deg, #2b7ebb 0%, #87c7f8 100%);
}

.lucky_six1 {
  background-image: linear-gradient(115deg, #ea0f0f 0%, #eb5959 100%);
}

.lucky_six2 {
  background-image: linear-gradient(115deg, #c6d28f 0%, #bfd819 100%);
}

.games_table {
  .table-row-group {
    background-color: #fff;
    transition: background-color 180ms;

    &:nth-child(odd) {
      background-color: $grey;
    }

    &:hover {
      background-color: rgba(193, 48, 1, 0.14);
      transition: background-color 180ms;
    }
  }

  .table-cell {
    transition: background-color 180ms;
  }

  .table_collumn_hover {
    background-color: rgba(193, 48, 1, 0.14);
    transition: background-color 180ms;
  }
}

.game_top {
  height: calc(100vh - 75px);

  &::before {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(90deg, rgb(0 0 0 / 80%) 0%, rgb(0 0 0 / 30%) 50%, rgba(0,0,0,0) 100%);
  }
}

.section_404, .main_mav {
  height: calc(100vh - 75px);
}

.section_404 {
  @media all and (max-width: 1024px) {
    height: auto;
    min-height: 600px;
  }

  @media all and (max-width: 767px) {
    min-height: 330px;
  }
}

.main_mav {
  transform: translateY(-150%);
  transition: transform 180ms;


  &.active {
    transform: translateY(0);
    transition: transform 180ms;
  }
}

.modal_overlay {
  z-index: 52;
  background-color: rgba(14, 14, 14, 0.5);
}

.owl-nav {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .owl-prev, .owl-next {
    pointer-events: all;
    padding: 10px;
    opacity: 1;
    transition: opacity 180ms;

    &:hover {
      opacity: 0.7;
      transition: opacity 180ms;
    }

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 28px;
      background: url("../img/carousel_arrow_left.svg") no-repeat center / contain;
    }
  }

  .owl-next {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.awards_carousel {
  .owl-nav {
    width: 110%;
    margin-left: -5%;
    display: flex !important;

    @media all and (max-width: 767px) {
      display: none !important;
    }

    .owl-prev, .owl-next {
      &::before {
        width: 23px;
        height: 45px;
      }
    }
  }
}

.testimonials_carousel {
  .owl-nav {
    height: 100%;

    @media all and (max-width: 767px) {
      display: none !important;
    }

    .owl-prev, .owl-next {
      height: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

.main_top_games_carousel {
  margin-left: -15px;

  @media all and (max-width: 767px) {
    margin-left: 0;
  }
}

.style_input {
  border: 1px solid rgba(0, 0, 0, 0.61);
}

// img popap regio
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
// regio end

.top_nav {
  @media all and (max-width: 1550px) {
    padding-right: 90px;
  }

  @media all and (max-width: 1441px) {
    padding-right: 2rem;
  }
}

.footer_about {
  @media all and (max-width: 1025px) {
    margin-bottom: 50px;
  }
}

.one_big_news {
  @media all and (max-width: 1025px) {
    margin-top: 16px;
  }
}

.show_mob_nav {
  &.active {
    .hidden {
      display: block;
    }

    .shown {
      display: none;
    }
  }
}

.mob_nav {
  background-color: rgba(0, 0, 0, 0.50);
  transform: translateX(-100%);
  transition: transform 180ms;

  &.active {
    transform: translateX(0);
    transition: transform 180ms;
  }
}

.mob_inner_menu, .mob_nav {
  height: calc(100vh - 75px);
}

.font_cla {
  font-family: "Clafita Miller";
  transform: rotate(-15deg);
}

.font_brit {
  font-family: "brittanySignature";
  transform: rotate(-15deg);
}

picture {
  img, source {
    height: 100%;
    width: 100%;
  }
}

.language_drop {
  a {
    display: block;
  }

  &.active {
    height: auto !important;
  }
}

.one_faq {
  .cont {
    display: none;
  }

  img {
    transition: transform 180ms;
    transform: rotate(0);
  }

  &.active {
    .cont {
      display: block;
    }

    img {
      transition: transform 180ms;
      transform: rotate(180deg);
    }
  }
}

.one_worker {
  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .social {
    display: none;
  }

  &.active {
    z-index: 10;

    p {
      -webkit-line-clamp: unset;
    }

    .iner {
      box-shadow: 0 25px 50px 0 rgb(0 0 0 / 0.5);
      position: absolute;
      top: 340px;
      width: 100%;
      left: 0;
      right: 0;
    }

    .social {
      display: flex;
    }
  }
}

div#map {
  margin-left: -80px;

  @media all and (max-width: 767px) {
    margin-left: 0;
    max-width: 100%;
  }

  a[href="https://simplemaps.com"] {
    pointer-events: none;
    z-index: 0;
    position: absolute;
    right: 10000px;
  }
}

@media all and (max-width: 767px) {
  *[class*=col_] {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}